<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ref</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="root">
    <post></post>
</div>
<!--插槽和中间人组件-->
<script>
    Vue.config.productionTip = false
    // 1.post-button组件
    Vue.component('post-button', {
        template: `
            <button><slot></slot></button>
        `
    })

    // 2.post-li组件
    Vue.component('post-li', {
        props: ['item', 'handleClick'],
        template: `
            <li>
                {{ item }}
                <post-button @click.native="handleClick">进入</post-button>
            </li>
        `,
        data (){
            return {
                item2: 5
            }
        },
        mounted(){
            // this.item2 = 2
        }
    })

    // 3.post-list组件
    Vue.component('post-list', {
        props: ['inputValue'],
        data() {
            return {
                list: ['张三', '李四', '王五']
            }
        },
        template: `
            <ul>
                <post-li :key="index" v-for="(value,index) in list" :item="value" :handleClick="handleClick">
                    {{ value }}
                </post-li>
                <!--<post-li ref="pli" :key="index" v-for="(value,index) in list" :item="value" :handleClick="handleClick">
                    {{ value }}
                </post-li>-->
            </ul>
        `,
        methods: {
            handleClick() {
                console.log('list')
                // console.log(this.$refs.pli)
            }
        },
        watch: {
            inputValue(newValue, oldValue) {
                this.list.push(newValue)
            }
        }
    })

    // 4.post-form组件
    Vue.component('post-form', {
        data() {
            return {
                inputValue: ''
            }
        },
        template: `
            <form @submit.prevent>
                <input type="text" v-model="inputValue">
                <post-button @click.native="handleClick">添加</post-button>
            </form>
        `,
        methods: {
            handleClick(inputValue) {
                // 触发父组件的事件函数，专门的一个函数方法
                this.$emit('send', this.inputValue)
            }
        }
    })

    // 5.post组件
    Vue.component('post', {
        data() {
            return {
                inputValue: ''
            }
        },
        template: `
            <div>
                <post-list :inputValue="inputValue"></post-list>
                <post-form @send="receiveValue"></post-form>
            </div>
        `,
        methods: {
            receiveValue(inputValue) {
                this.inputValue = inputValue
            }
        }
    })

    // 根组件
    let vm = new Vue({
        el: '#root'
    })
</script>
</body>
</html>